{% extends 'authentication/cartauth_base.html' %}

{% block title %} SignUp {% endblock title %}

{% block content %}
{% load static %}
<link href="{% static 'assets/css/login_styles.css' %}" rel="stylesheet" />
<style>

.container2 {
  width:800px
  min-height : 1000px
}

.container1 {
  width:500px;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
  border: solid white 1px;
}

</style>
<!-- Header-->


<div class="container1" >
    <div class="sign-up-htm"><h3> Reset Password </h3>
<!--<div class="login-wrap">
	<div class="login-html">  -->
		  <form method="POST" action="{% url 'forget_password' %}">
    			{% csrf_token %}
				<div class="group">
					<strong>
					<label for="username" class="label text-white">User Name</label>
					<input id="username" type="text" class="input" name="username" placeholder="UserName" maxlength="100" size="30">
					</strong>
				</div>
				  <br>
				  <div class="group">
				<br>
					<strong>
					<label for="email" class="label text-white">Email</label>
					<input id="email" type="text" class="input" name="email" placeholder="Email Id" maxlength="100" size="30">
					</strong>
				</div><br>
				<div class="group">
					<input type="submit" class="btn btn-primary" value="Reset Password">
				</div>
		  </form>
				<div class="hr mt-2 text-white" ><br> Password Reset Link will be sent to Your Registered Email ID.</div>
				<div class="text-white">

				</div><br>
          </div>
</div>

{% endblock content %}