<!DOCTYPE html>
{% extends 'authentication/cartauth_base.html' %}

{% block title %} SignUp {% endblock title %}

{% block content %}
{% load static %}
<link href="{% static 'assets/css/login_styles.css' %}" rel="stylesheet" />
<style>
    .container1 {
  width:800px
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
  border: solid white 1px;
}

    .container2 {
  width:800px
  min-height : 1000px
}
</style>

 <div class="container1" >
    <div class="sign-up-htm"><h3> Update Password</h3>
      <form method="POST" action="{% url 'update_password' %}">
      {% csrf_token %}
      <div class="txt-white bg-light p-2"> <strong>
      {{ form.as_p }}
       </strong>
      </div>
     <input id="user" type="hidden" class="input" name="user" value="{{ user }}">
	 <input id="token" type="hidden" class="input" name="token" value="{{ token }}">
	 <input id="user_id" type="hidden" class="input" name="user_id" value="{{ userid }}">
      <br/>
     <button type="submit" class="btn btn-outline-primary">
       Update Password
     </button>

     <a href="{% url 'index' %}" class="btn btn-outline-primary">
       Back
     </a>
    </form>
      <br/>
    </div>
 </div>


{% endblock %}