<!DOCTYPE html>
<html lang="en">
{% extends 'authentication/cartauth_base.html' %}

{% block title %} SignUp {% endblock title %}

{% block content %}
{% load static %}
<link href="{% static 'assets/css/login_styles.css' %}" rel="stylesheet" />
<style>

.container1 {
  width:400px;
  max width : 500px;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
  border: solid white 1px;
}

.container2 {
  width:800px
  min-height : 1000px
}

</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function () {
        $("#username").click(function () {
          $("#username").tooltip("disable");
        });
      });
</script>

  <div class="container1" >
    <div class="sign-up-htm text-white"><h3> User Profile</h3> <h6>User Name cann't be Updated </h6>
				<form method="POST" action="{% url 'user_profile' %}">
                     {% csrf_token %}

				<div class="group text-info">
					<label for="username" class="label"><strong>Username</strong></label>
					<input id="username"  onkeydown="return false" name="username" type="text" class="input" maxlength="100" size="30" placeholder="" value="{{user.username}}">
				</div> <br>
				<div class="group text-info">
					<label for="first_name" class="label">First Name</label>
					<input id="first_name" name="first_name" type="text" class="input" value="{{user.first_name}}" maxlength="100" size="30" required>
				</div><br>
				<div class="group text-info">
					<label for="last_name" class="label">Last Name</label>
					<input id="last_name" name="last_name" type="text" class="input" value="{{user.last_name}}" maxlength="100" size="30">
				</div><br>
				<div class="group text-info">
					<label for="email" class="label">Email Address</label>
					<input id="email" name="email" type="email" class="input" value="{{user.email}}" maxlength="100" size="30"required>
				</div><br>

				<div class="group text-info" >
					<button type="submit" class="btn btn-primary text-white" style="height:41px;width:150px" value="">Update Profile</button>
					<a  href="{% url 'index' %}" class="btn btn4 btn-primary">
       				Back
     				</a>
				</div>
			</form>


			<div class="hr mt-2 text-white" ><br>
				<a type="submit" class="text-info" href="{% url 'update_password' %}"  value="update_password"> Want to Update Password??</a>
			</div>
	</div>


  </div>
<!-- Header-->
{% endblock %}

</html>